:root {
    --font-first:'Poppins', sans-serif;
    --font-secondary: 'PT Serif', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    padding: 20px 20px 20px 10%;
    max-width: 850px;
    margin: 0 auto;
}

section h1 {
    font-family: var(--font-secondary);
    font-size: 3.6rem;
    font-weight: 700;
    margin: 30px 0 20px 0;
}

section div {
    width: 295px;
}

section h2 {
    font-family: var(--font-first);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

section p {
    font-family: var(--font-first);
    font-size: 1.4rem;
    line-height: 21px;
}


main {
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, minmax(187.5px, 235px));
    grid-template-rows: repeat(12, 86px);
    justify-content: center;
}

.item1 {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.item3 {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
}

.item4 {
    grid-column: 2 / 3;
    grid-row: 6 / 9;
}

.item5 {
    grid-column: 1 / 2;
    grid-row: 9 / 12;
}

.item6 {
    grid-column: 2 / 3;
    grid-row: 10 / 13;
}

.person {
    width: 177px;
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18.5px;
    position: relative;
}

.specialty {
    height: 13px;
    width: 100px;
    font-size: 1.0rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    position: absolute;
    transform: rotate(90deg);
    top: 76px;
    right: -40px;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 20px;
}

img {
    width: 138px;
}

footer {
	text-align: center;
	width: 100%;
	margin: 50px 0 10px 0;
}

footer p {
	color: #BDBDBD;
	font-size: 1.4rem;
}

footer a {
	font-size: 1.4rem;
	color: #838282;
	font-weight: 700;
}


@media (min-width: 700px) {
    section {
        height: 150px;
        display: flex;
        padding: 0;
    }

    section h1 {
        margin-right: 50px;
    }
    section div {
        margin-top: 40px;
    }
    main {
        grid-template-columns: repeat(3, minmax(187.5px, 220px));
        grid-template-rows: repeat(8, 86px);
    }

    .item1 {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }
    
    .item2 {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
    }
    
    .item3 {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
    }
    
    .item4 {
        grid-column: 1 / 2;
        grid-row: 5 / 8;
    }
    
    .item5 {
        grid-column: 2 / 3;
        grid-row: 6 / 9;
    }
    
    .item6 {
        grid-column: 3 / 4;
        grid-row: 5 / 8;
    }
}

@media (min-width: 1100px) {
    main {
        grid-template-columns: repeat(3, minmax(187.5px, 320px));
        grid-template-rows: repeat(8, 142px);
    }

    .person {
        width: 305px;
        height: 471px;
    }

    .specialty {
        font-size: 1.2rem;
        width: 130px;
        top: 107px;
        right: -28px;
    }
    .name {
        font-size: 1.8rem;
    }
    img {
        width: 238px;
    }
}