:root {
    --font-first:'Poppins', sans-serif;
    --font-secondary: 'PT Serif', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
}

section {
    padding: 20px 20px 20px 15px;
}

section h1 {
    font-family: var(--font-secondary);
    font-size: 3.6rem;
    font-weight: 700;
    margin: 30px 0 20px 0;
}

section h2 {
    font-family: var(--font-first);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

section p {
    font-family: var(--font-first);
    font-size: 1.4rem;
    line-height: 21px;
}


main {
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: minmax(375px, 700px) minmax(375, 700px);
    grid-template-rows: repeat(12, 86px);
}

.item1 {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.item3 {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
}

.item4 {
    grid-column: 2 / 3;
    grid-row: 6 / 9;
}

.item5 {
    grid-column: 1 / 2;
    grid-row: 9 / 12;
}

.item6 {
    grid-column: 2 / 3;
    grid-row: 10 / 13;
}

.person {
    width: 177px;
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18.5px;
    position: relative;
}

.specialty {
    height: 13px;
    width: 100px;
    font-size: 1.0rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    position: absolute;
    transform: rotate(90deg);
    top: 76px;
    right: -40px;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 20px;
}

img {
    width: 138px;
    height: 198px;
}

footer {
	text-align: center;
	width: 100%;
	margin: 60px 0 10px 0;
}

footer p {
	color: #BDBDBD;
	font-size: 1.4rem;
}

footer a {
	font-size: 1.4rem;
	color: #838282;
	font-weight: 700;
}